body{
	background-color: #f5ad42;
}
h1, h2{
	font-size: 50px;
	text-align: center;
	font-family: arial;
	margin: 10px;
}

button {
	display: block;
	margin: auto;
	 
	outline: none !important;
	border: none;
}

.container {
	width: 600px;
	margin: auto;
}

.tanah {
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	float: left;
}
.tanah::after {
	content: '';
	display: block;
	width: 200px;
	height: 100px;
	background: url(../img/gambar-tanah.png) bottom center no-repeat;
	background-size: 80%;
	position: absolute;
	bottom: -25px;
}

.tikus {
	width: 100%;
	height: 100%;
	background: url(../img/tikus.png) bottom center no-repeat;
	background-size: 60% ;
	position: absolute;
	top: 100px;
	transition: top 0.1s; 
}

.tanah.muncul .tikus {
	top: -15px;
}